html {
  margin-top: 45px;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  background-color: #2F2F2F;
}

.container .info h1 {
  text-align: center;
  color: #ffffff;
}

ul {
  width: 200px;
  margin: 0 auto;
}

ul li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  margin-right: 20px;
}

p {
  color: #FFFFFF;
  line-height: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #CF727F;
  cursor: pointer;
}

.terminal {
  background-color: #3C3C3C;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 50%;
  padding: 0.75%;
  padding-bottom: 20%;
}

.hostname {
  color: #8BD335;
  font-weight: 700;
}

.home {
  color: #729FCF;
  font-weight: 700;
}

.project {
  display: none;
}

.cursor {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -8px;
  color: #FFFFFF;
  -webkit-animation: 1.5s blink step-end infinite;
  -moz-animation: 1.5s blink step-end infinite;
  -ms-animation: 1.5s blink step-end infinite;
  -o-animation: 1.5s blink step-end infinite;
  animation: 1.5s blink step-end infinite;
}

@keyframes "blink", {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@media screen and (max-width: 400px) {
  .terminal {
    width: 100%;
  }
  p:hover .project {
    display: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 1280px) {
  p:hover .project {
    display: none;
  }
}
